@tailwind base;
@tailwind components;
@tailwind utilities;

.w-1_2 {
  width: 50%;
}
.w-1_3 {
  width: 33.333333%;
}
.w-1_10 {
  width: 10%;
}
.w-3_4 {
  width: 75%;
}
.recent-fix {
  margin-top: -14px;
}
