html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/style/style.css")
    script(src="https://cdn.tailwindcss.com")

  body.bg-gray-200
    div.h-screen.container.mx-auto.my-auto.flex.flex-col.justify-center
        h1.text-2xl.text-center.mb-4 Facebook Video Scraper
        form(action="").text-center
            input(type="text" placeholder="Enter Facebook Link").bg-white.w-3_4.h-12.rounded-t-xl.px-5
        div.bg-white.bg-white.w-3_4.rounded-b-xl.px-5.py-6.mx-auto.shadow-md.recent-fix
            p.text-gray-700.mb-4.font-bold Recent 
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
            p.text-gray-500.py-2 https://www.facebook.com/Divodivafanvietnam
