html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/style/style.css")
    script(src="https://cdn.tailwindcss.com")

  body.bg-gray-200
    div.h-screen.container.mx-auto.my-auto.flex.flex-col.justify-center
        h1.text-2xl.text-center.mb-4 Loading
        